<div id="results">
<p><%= @stores.count %> Total Stores</p>
<% @stores.each do |store| %>
    <%= store.name %> <br>
    <%= store.city %> <br>
    <%= store.phone %> <br>
    <%= store.distance %> <br>
    <%= store.store_type %>
    <hr>
  <% end %>
</div>
